In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/data_base.csv") 
df.head(3)

,id_post,date,text,views,reactions,comments
0,14381,2026-02-02 13:31:57+00:00,Меню «Пуск» в Windows 11 [превратили](https://...,74536,1064,0
1,14380,2026-02-02 10:49:42+00:00,В Москве робота заметили за уборкой снега. \n\...,110566,1442,0
2,14376,2026-02-02 10:01:14+00:00,В Steam вышел хоррор The 18th Attic — в нем ну...,104438,675,0

In [3]:
df.shape, df.columns

((3351, 6),
 Index(['id_post', 'date', 'text', 'views', 'reactions', 'comments'], dtype='str'))

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3351 entries, 0 to 3350
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_post    3351 non-null   int64
 1   date       3351 non-null   str
 2   text       3351 non-null   str
 3   views      3351 non-null   int64
 4   reactions  3351 non-null   int64
 5   comments   3351 non-null   int64
dtypes: int64(4), str(2)
memory usage: 157.2 KB

In [ ]:
df.isna().mean().sort_values(ascending=False).head(10)

id_post      0.0
date         0.0
text         0.0
views        0.0
reactions    0.0
comments     0.0
dtype: float64

In [7]:
df0 = df.copy()

In [8]:
df0["date"] = pd.to_datetime(df0["date"], errors="coerce", utc=True)

In [9]:
before = len(df0)
df0 = df0[df0["views"].fillna(0) > 0].copy()
df0 = df0[df0["reactions"].fillna(0) >= 0].copy()
df0 = df0.dropna(subset=["date"])

In [10]:
after = len(df0)
before, after, before - after

(3351, 3351, 0)

In [ ]:
df0["engagement"].describe(percentiles=[0.5, 0.75, 0.9, 0.95, 0.97, 0.99])

count    3351.000000
mean        0.007431
std         0.006488
min         0.000000
50%         0.006440
75%         0.009592
90%         0.012574
95%         0.014752
97%         0.016730
99%         0.020276
max         0.302003
Name: engagement, dtype: float64